@import "reset.css";
/*@import "fonts/roboto/roboto.css";*/
a {
    text-decoration: none;
}
li{
    list-style-type: none
}
span{
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
input{
    outline: none;
}
label{
    display: inline-block;
}
.w-fit{
    width: fit-content;
}
.w-100{
    width: -webkit-fill-available;
    width: -moz-available;
}
.w-50{
    width: 50%;
}
.w-49{
    width: 49%;
}
.w-25{
    width: 25%;
}
.w-30{
    width: 30%;
}

/*----------margin-bottom--------*/
.mr-bott10{
    margin-bottom: 10px;
}
.mr-bott20{
    margin-bottom: 20px;
}
.mr-bott30{
    margin-bottom: 30px;
}
/*----------margin-top-------------*/
.mr-top10{
    margin-top: 10px;
}
.mr-top20{
    margin-top: 20px;
}
.mr-top30{
    margin-top: 30px;
}
.alitem{
    align-items: center;
}
.img-st{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    outline: none;
}
.img-st_cov{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    outline: none;
}
.div-st{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.div-st_start{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.div-st_end{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.div-st_sp-bet{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

